*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 95vh;
}

form {
  max-width: 500px;
  min-width: 300px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

label {
  display: block;
}

footer {
  height: 5vh;
  background-color: green;
}